# 配置特殊库
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs/
electron_mirror=https://npm.taobao.org/mirrors/electron/

registry=http://192.168.30.56:9003/nexus/content/groups/npm-all/
always-auth=true
_auth=YWRtaW46YWRtaW4xMjM=
@guopi:registry=http://192.168.30.56:9003/nexus/content/repositories/npm-internal/
